h1 {
    margin: 2vh 0;
}

body {
}

.welcome {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #515050;
}

.instruction {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #515050;
}
