<!DOCTYPE html>
{% extends './base.html' %}
{% block title %}{{ door_list.0.room.room_name }}: Door List{% endblock %}

{% block back-btn-link %}{% url 'roomIndex' door_list.0.room.workspace.workspace_slug %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 text-center">
        <h1>Welcome! Please select a door:</h1>
        <ul class="list-group">
        {% for door in door_list %}
            <a href={% url 'doorLogin' door.room.workspace.workspace_slug door.room.room_slug door.door_slug %}><li class="list-group-item">{{ door.door_name }}</li></a>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}