{% extends './base.html' %}
{% block title %}{{ door }}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="my-3 d-flex justify-content-center"><img src="/static/images/sequoia_black.png" alt="logo" width="400" height="100"></div>
<div class="row">
    <div class="col-12 text-center">
        <p>You are in workspace <b>{{ workspace }}</b>, room <b>{{ room }}</b>.</p>
        {% if not passwordOk %}
	<h1>Welcome! This door is locked.</h1>
        <h2>Please enter the password for {{ door }} below:</h2>
        <form method="post" action={% url 'checkPassword' %} class="form-inline justify-content-center">
            {% csrf_token %}
            <input name="workspaceId" type="hidden" value={{ workspace.id }} />
            <input name="roomId" type="hidden" value={{ room.id }} />
            <input name="doorId" type="hidden" value={{ door.id }} />
            <input name="password" type="password" class="form-control mr-2" id="password" placeholder="password" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
	{% endif %}
        {% if passwordOk %}
	<p><h3>The door is unlocked! Please close this window (select “X” in the upper right corner of this window) to pass through the doorway. You have 30 seconds before the door will lock again.</h3></p>
        {% elif passwordOk == False %}
        <p>Incorrect password</p>
        {% endif %}
    </div>
</div>
{% endblock %}
