{% extends './base.html' %}
{% block title %}{{ room_list.0.workspace.workspace_name }}: Room List{% endblock %}

{% block content %}
<nav class="nav">
    <a href="{% url 'workspaceIndex' %}" class="btn btn-primary nav-link">Back</a>
</nav>
<div class="row">
    <div class="col-12 text-center">
        <h1>Welcome! Please select a room:</h1>
        <ul class="list-group">
        {% for room in room_list %}
            <a href={% url 'doorIndex' room.workspace.workspace_slug room.room_slug %}><li class="list-group-item">{{ room.room_name }}</li></a>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}